---
import {Image} from 'astro:assets';

import './style.scss';
import Icon from '../icon/icon.astro';
import external_link from '../../media/icons/external_link.svg?raw'

interface Props {
    image: any
    alignImage: 'center' | 'right'
    title: string
    subtitle: string
    className: string
    link: string
}

const {image, alignImage, title, subtitle, className, link} = Astro.props;

---

<div class="projectCard">
    <a
        class="openProjectBtn"
        href={link}
        target="_blank"
    >
        <Icon image={external_link}/>
    </a>
    <div class:list={['thumbnail', className]}>
        <Image
            class={alignImage}
            alt="project thumbnail"
            src={image}
        />
    </div>
    <div class="projectTitle">
        <span>{title}</span>
    </div>
    <div class="projectSubtitle">
        <span>{subtitle}</span>
    </div>
</div>
