---
import './style.scss';

import aws from '../../media/icons/aws.svg?raw';
import go from '../../media/icons/go.svg?raw';
import react from '../../media/icons/react.svg?raw';
import astro from '../../media/icons/astro.svg?raw';
import docker from '../../media/icons/docker.svg?raw';
import elasticsearch from '../../media/icons/elasticsearch.svg?raw';
import lambda from '../../media/icons/lambda.svg?raw';
import git from '../../media/icons/git.svg?raw';
import next from '../../media/icons/next.svg?raw';
import postgres from '../../media/icons/postgres.svg?raw';
import tailwind from '../../media/icons/tailwind.svg?raw';
import python from '../../media/icons/python.svg?raw';
import mattermost from '../../media/icons/mattermost.svg?raw';
---

<div class="expertise">
    <h1>Expertise</h1>

    <div class="row">
        <div class="section">
            <h2>Full Stack Engineering</h2>
            <p>Cras suscipit tortor et dui fringilla, nec iaculis ipsum vulputate. Aliquam iaculis, urna in fringilla consectetur, augue purus maximus neque, sed ultrices urna libero vel neque.</p>
            <div class="techWrapper">
                <div class="tech">
                    <div class="tooltip">
                        Golang
                    </div>
                    <Fragment set:html={go}/>
                </div>
                <div class="tech">
                    <div class="tooltip">
                        React
                    </div>
                    <Fragment set:html={react}/>
                </div>
                <div class="tech">
                    <div class="tooltip">
                        AWS
                    </div>
                    <Fragment set:html={lambda}/>
                </div>
                <div class="tech">
                    <div class="tooltip">
                        Git
                    </div>
                    <Fragment set:html={git}/>
                </div>
                <div class="tech">
                    <div class="tooltip">
                        Docker
                    </div>
                    <Fragment set:html={docker}/>
                </div>
                <div class="tech">
                    <div class="tooltip">
                        Postgres
                    </div>
                    <Fragment set:html={postgres}/>
                </div>
                <div class="tech">
                    <div class="tooltip">
                        Python
                    </div>
                    <Fragment set:html={python}/>
                </div>
                <div class="tech">
                    <div class="tooltip">
                        Elasticsearch
                    </div>
                    <Fragment set:html={elasticsearch}/>
                </div>
                <div class="tech">
                    <span>. . .</span>
                </div>
            </div>
        </div>

        <div class="section">
            <h2>Webapp Development</h2>
            <p>Cras suscipit tortor et dui fringilla, nec iaculis ipsum vulputate. Aliquam iaculis, urna in fringilla consectetur, augue purus maximus neque, sed ultrices urna libero vel neque.</p>
            <div class="techWrapper">
                <div class="tech">
                    <Fragment set:html={react}/>
                </div>
                <div class="tech">
                    <Fragment set:html={next}/>
                </div>
                <div class="tech">
                    <Fragment set:html={astro}/>
                </div>
                <div class="tech">
                    <Fragment set:html={tailwind}/>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="section">
            <h2>Website Implementation</h2>
            <p>Cras suscipit tortor et dui fringilla, nec iaculis ipsum vulputate. Aliquam iaculis, urna in fringilla consectetur, augue purus maximus neque, sed ultrices urna libero vel neque. Nulla facilisi.</p>
            <div class="techWrapper">
                <div class="tech">
                    <Fragment set:html={go}/>
                </div>

                <div class="tech">
                    <Fragment set:html={postgres}/>
                </div>
                <div class="tech">
                    <Fragment set:html={python}/>
                </div>
            </div>
        </div>

        <div class="section">
            <h2>Mattermost Plugins</h2>
            <p>Cras suscipit tortor et dui fringilla, nec iaculis ipsum vulputate. Aliquam iaculis, urna in fringilla consectetur, augue purus maximus neque, sed ultrices urna libero vel neque. Nulla facilisi. Ut et sollicitudin diam.</p>
            <div class="techWrapper">
                <div class="tech">
                    <Fragment set:html={mattermost}/>
                </div>
                <div class="tech">
                    <Fragment set:html={react}/>
                </div>
                <div class="tech">
                    <Fragment set:html={go}/>
                </div>
            </div>
        </div>
    </div>
</div>
